<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'} ) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<%= link_to "Sign Up", login_test_path(page_type: 'sign_up'),  remote: true %>
